.one{
background-color: rgb(241, 167, 241);
}
.two{
background-color: rgb(205, 156, 239);
}
.three{
background-color: rgb(138, 138, 234);
}
.four{
background-color: rgb(130, 244, 130);
}
.five{
background-color: rgb(231, 231, 119);
}
