img{
    height: 250px;
    width: 250px;
    border-radius: 150px;
}



  

#title{
    border-bottom: 4px solid brown;
    letter-spacing: 4px;
    font-family: 'Times New Roman', Times, serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('https://wallpaperaccess.com/full/5580651.jpg');

}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   width: 400px; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 40px; 
   border-radius: 20px;
   background-image: url('https://www.teahub.io/photos/full/30-308614_rainbow-bokeh-gradation-blur-android-wallpaper-hd-blur.jpg');

}


.container{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
  
}

.fname,.fname2,.fname3,.fname4,.fname5,.fname6{
    letter-spacing: 3px;
    text-transform:uppercase;
    color: rgb(37, 0, 0);
}
.lname,.lname2,.lname3,.lname4,.lname5,.lname6{
    letter-spacing: 3px;
    text-transform:uppercase;
    color: rgb(37, 0, 0);
}
.email,.email2,.email3,.email4,.email5,.email6{
    letter-spacing: 3px;
    text-transform:uppercase;
    font-weight: 400;
    color:rgb(53, 35, 2)
}